@import "./_variables.css";
@import "./_reset.css";
@import "./_global.css";

body {
  @media (min-width: 768px) {
    background: url("/dogs.webp");
    background-size: 20vmax;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

main,
footer {
  padding: var(--page-margin);
  max-width: var(--page-width-mid);
  margin: 0 auto;
}

section {
  margin-block-end: var(--spacing-xxxl);
}

p {
  margin-bottom: 1em;
}

h1,
h2,
h3 {
  margin-bottom: 0.5em;
  line-height: var(--leading-tight);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxxl);
  margin-block: var(--spacing-l);
}

input[type="text"] {
  border: 2px solid var(--color-text);
  padding: 0.5em 1em;
}

label {
  font-weight: var(--font-weight-semibold);
  display: block;
}

output {
  background-color: var(--color-accent);
  padding: 0.5em 1em;
  border-radius: 0.25em;
  margin-block: 0;
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  word-break: break-all;
}

pre {
  background-color: var(--color-text);
  color: var(--color-page-bg);
  padding: 0.5em 1em;
  border-radius: 0.25em;
  margin-block: 0;
  display: flex;
  align-items: center;
  gap: var(--spacing-s);
  word-break: break-all;
  white-space: pre-wrap;
}
.tool__status {
  /* display: flex;
  flex-direction: column;
  gap: var(--spacing-s); */

  &::before {
    display: inline-block;
    align-self: flex-start;
    font-size: 0.8em;
    color: var(--color-text);
    background-color: var(--color-accent);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    margin-inline-end: 0.5em;
  }
}

.tool__status--working {
  &::before {
    content: "status: ✅";
  }
}

.tool__field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

.tool__label {
  font-weight: var(--font-weight-black);
  font-size: var(--s-2);
}

.tool__button {
  border: none;
  background-color: var(--color-text);
  color: var(--color-page-bg);
  padding: 0.5em 1em;
  border-radius: 0.25em;
}

.intro {
  & p:first-of-type {
    font-size: var(--s-1);
    line-height: var(--leading-tight);
    margin-block-end: var(--spacing-xxl);
  }
}
.intro__title {
  font-size: var(--s-5);
  font-weight: 800;
  line-height: 1;
}

hr {
  margin-block: var(--spacing-xxl);
  border: 0;
  border-top: 3px solid var(--color-text);
  opacity: 1;
}

footer {
  border-top: 3px solid var(--color-text);
  padding: var(--spacing-xs);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-page-bg);
}

.highlight {
  background-color: color-mix(in srgb, var(--color-text) 7%, transparent);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  font-family: var(--font-family-mono);
}
